* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
}

#container {
    background-color: #d5d5d5;
    
}

#banner {
    position: relative;
    height: 500px;  
    background-image: url("../img/banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-family: 'Source Serif Pro', serif;
    
}

#banner h1 {
    color: #bc3931;
    display: block;
    position: absolute;
    left: 25%;
    
    bottom: 50%;
    font-size: 4rem;
}

#banner p {
    color: #bc3931;
    display: block;
    position: absolute;
    left: 2%;
    
    bottom: 2%;
    font-size: 2rem;
}

 /* #banner img {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 25%;
    height: 70%;
    bottom: 5%;
    opacity: 0.33;
} */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #255c23;
}

nav a.menu {
    flex-grow: 1;
    text-decoration: none;
    color: #d5d5d5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    text-align: center;
    border-right: 2px dotted #d5d5d5;
    }

nav a.menu:hover {
    background-color: #bc3931;
}

#main {
    display: flex;
}





#graphic img {
    height: 1000px;
    width: auto;
}